body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-size: 16px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
}

button, a button {
    margin-right: 15px;
}

h1 {
    text-align: center;
    color: #333;
}

.back-button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    form {
        padding: 20px;
    }

    label, input, select {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
